Source: vscripts
Section: admin
Priority: optional
Maintainer: Vladan Jovanovic <vladan44@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.0.1

Package: vscripts
Architecture: all
Depends: python (>= 2.4), python (<< 3), perl, bash
Conflicts:
Replaces: 
Description: Administration helper script
