#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	#
	#
	mkdir -p $(CURDIR)/debian/vscripts/usr/local/bin
	cp -r $(CURDIR)/perl 			$(CURDIR)/debian/vscripts/usr/local/bin
	cp -r $(CURDIR)/python 			$(CURDIR)/debian/vscripts/usr/local/bin
	cp -r $(CURDIR)/bash 			$(CURDIR)/debian/vscripts/usr/local/bin

	echo "perl commands..."
	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/awkc.pl $(CURDIR)/debian/vscripts/usr/local/bin/awkc 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/awkc.pl

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/devetpet.pl $(CURDIR)/debian/vscripts/usr/local/bin/devetpet 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/devetpet.pl

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/ggrep.pl $(CURDIR)/debian/vscripts/usr/local/bin/ggrep 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/ggrep.pl

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/googlaj $(CURDIR)/debian/vscripts/usr/local/bin/googlaj 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/googlaj

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/jsonparse.pl $(CURDIR)/debian/vscripts/usr/local/bin/jsonparse 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/jsonparse.pl

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/lstr.pl $(CURDIR)/debian/vscripts/usr/local/bin/lstr 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/lstr.pl

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/perl/myhead.pl $(CURDIR)/debian/vscripts/usr/local/bin/myhead 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/perl/myhead.pl

	echo "python commands..."
	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/python/editdijara.py $(CURDIR)/debian/vscripts/usr/local/bin/editdijara 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/python/editdijara.py
	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/python/grepy $(CURDIR)/debian/vscripts/usr/local/bin/grepy 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/python/grepy 
	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/python/grepymoje $(CURDIR)/debian/vscripts/usr/local/bin/grepymoje 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/python/grepymoje 
	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/python/recursivepie $(CURDIR)/debian/vscripts/usr/local/bin/recursivepie 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/python/recursivepie 

	echo "bash commands..."
	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/bakrename.bash $(CURDIR)/debian/vscripts/usr/local/bin/bakrename 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/bakrename.bash

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/grepdijara $(CURDIR)/debian/vscripts/usr/local/bin/grepdijara 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/grepdijara

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/grp $(CURDIR)/debian/vscripts/usr/local/bin/grp 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/grp

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/mygitdiff.bash $(CURDIR)/debian/vscripts/usr/local/bin/mygitdiff 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/mygitdiff.bash

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/myvalgrind $(CURDIR)/debian/vscripts/usr/local/bin/myvalgrind 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/myvalgrind

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/remotegvim $(CURDIR)/debian/vscripts/usr/local/bin/remotegvim 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/remotegvim

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/simboli $(CURDIR)/debian/vscripts/usr/local/bin/simboli 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/simboli

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/spakujpromene $(CURDIR)/debian/vscripts/usr/local/bin/spakujpromene 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/spakujpromene

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/svnbc3 $(CURDIR)/debian/vscripts/usr/local/bin/svnbc3 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/svnbc3

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/svndiff $(CURDIR)/debian/vscripts/usr/local/bin/svndiff 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/svndiff

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/svnst $(CURDIR)/debian/vscripts/usr/local/bin/svnst 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/svnst

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/gitst $(CURDIR)/debian/vscripts/usr/local/bin/gitst 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/gitst

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/range.bash $(CURDIR)/debian/vscripts/usr/local/bin/range 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/range.bash

	ln -s $(CURDIR)/debian/vscripts/usr/local/bin/bash/isitrunning.sh $(CURDIR)/debian/vscripts/usr/local/bin/isitrunning 
	chmod 755 $(CURDIR)/debian/vscripts/usr/local/bin/bash/isitrunning.sh

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
